<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample</title>
</head>
<body>
<h1 th:inline="text">Insert</h1>
<form id="iform" th:action="@{/register}" th:method="get" th:object="${user}">
    <label>账号</label>
    <input type="text" th:field="*{id}"/>
    <label>账户名</label>
    <input type="text" th:field="*{username}"/>
    <label>密码</label>
    <input type="text" th:field="*{password}"/>
    <label>姓名</label>
    <input type="text" th:field="*{name}"/>
    <label>性别</label>
    <input type="text" th:field="*{gender}"/>
    <label>手机号</label>
    <input type="text" th:field="*{phone}"/>
    <label>权限</label>
    <input type="text" th:field="*{authority}"/>
    <input th:label="提交" type="submit"/>
</form>
</body>
</html>